
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact_main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa64a8;
  color: white;
  height: 250px;
  width: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: 300;

}

/* .................................CONTACT BOX.................. */
.contact-box-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 50px;
}

.contact-box {
    background: #e4e2c7;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.08);
    flex: 1;
    transition: 0.4s;
    cursor: pointer;
}



.contact-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #aa64a8;
}



.contact-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 30px rgba(239, 110, 11, 0.12);
}
@media (max-width: 768px) {
  .contact-box-container {
      flex-direction: column;
  }
}
/* ..........................Contact details and Google Map....................... */




 .main_frame {
            /* display: flex;
            flex-wrap: wrap; */
             /* Allows wrapping on smaller screens */
            background-color: rgb(241, 238, 244);
            /* height: 660px;
            width: auto; */


             display: flex;
    justify-content: space-between;
   
    margin-top: 50px;
        }

        .main_div {
            display: flex;
            /* justify-content: center; */
            /* align-items: center; */
            box-sizing: border-box;
            border:silver;
             height: auto;
            width: 50%;

        }
        .bd-contact-map{

           height: auto;
            width: 50%;
             border-radius: 20px;
        }

        .name {
            display: flex;
           flex-wrap: wrap; 
         
            


        }

        .email .phone .message .first_name .last_name .message  .submit{
            display: flex;
            gap: 30px;

        }

        .bd-contact-map {
          width: 50%;
        }

        .form {
            width: 100%;   
            height: 650px;
            border: 1px solid rgb(226, 213, 213);
            padding: 20px;
            gap: 40;
            border-radius: 20px;
            outline: none;
            background-color: white;
            border-bottom: 30px;
        }

        input,textarea .name{
            border-radius: 20px;
            /* outline: none; */
            width: 95%;
            margin-bottom: 15px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            font-size: 15px;


        }

        /* .error {
            border-radius: 50px;
            border: none;
        } */
        .error {
            color: red;
            font-size: 14px;
        }
        @media (max-width: 768px) {
        .main_div {
        
         flex-direction: column; 
     
  }

 

}