
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact_main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa64a8;
  color: white;
  height: 250px;
  width: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: 300;

}

/* .................................CONTACT BOX.................. */
.contact-box-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 50px;
}

.contact-box {
    background: linear-gradient(lightgreen,rgb(67, 236, 67),green);
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.08);
    flex: 1;
    transition: 0.4s;
    cursor: pointer;
    
}



.contact-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #aa64a8;
}



.contact-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 30px rgba(239, 110, 11, 0.12);

  
}
@media (max-width: 768px) {
  .contact-box-container {
      flex-direction: column;
  }
}
/* ..........................Contact details and Google Map ....................... */
 .main_frame {
        
            background-color:white;
            display: flex;
          }

        .main_div {
            display: flex;
            box-sizing: border-box;
            border:white;
             height: auto;
            margin-left: 40px;
              }
        .bd-contact-map{
             height: auto;
            border-radius: 20px;
           margin-left: 40px;
           width: 500px;
        }
        .name {
           display: flex;
          gap: 60px;
        
        }
        .email .phone .message .first_name .last_name .message {
            display: flex;
            gap: 30px;
            border: none;
        }
       .form {
            width: 100%;   
            height: 650px;
            border: 1px solid rgb(226, 213, 213);
            padding: 20px;
            gap: 40;
            border-radius: 20px;
            outline: none;
            background-color: white;
            border-bottom: 30px;
        } 
       input[type="text"],input[type="email"]{
           border-radius: 30px;
           
           }
           .phone,textarea{
            border-radius: 10px;  
          
           }
           
        .error {
            color: red;
            font-size: 14px;
        }
        .submitt{
            display: flex;
            justify-content: center;
            align-items: center;
        }
      

        input[type="submit"]{
            border-radius: 20px; 
           
            /* padding: 10px; */
            height: 40px;
            width: 120px;

        }
        @media (max-width: 768px) {
        .main_frame {
        display: block;
         }
}
/* .........................breadcrumps........... */
.breadcrumb-section {
    position: relative;
    text-align: center;
}

.breadcrumb-section img {
    width: 100%;
    height: 700px;
}

.breadcrumb-section .breadcrumb {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}
#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 60%;
  background-color: rgb(76, 73, 73);
  color: white;
  display: none;
}
@media (max-width: 480px) {
   


    .breadcrumb-section img {
        width:100%;
        height: 400px;
    }
}

